:root{
    --primary: #3da5c5;
    --primary-active: #358ea7;
    --sencondary: #13b64a;
    --secondary-active: #0f9b3d;
    --white: #fff;
    --black: #313131;
    --gray: #9c9c9c;
    --deep-blue: #5483b9;
    --deep-purple: #392d49;
}

